<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.example.myproject.dao.SealInfoPicMapper">

	<select id="findPicCompress" parameterType="java.lang.String" resultType="java.lang.String">
		select pic_compress FROM t_seal_info_pic p LEFT JOIN t_seal_info_new n on p.seal_code  = n.seal_code WHERE  uid= #{uid}
	</select>
	<select id="findPicBySealCode" parameterType="java.lang.String" resultType="com.example.myproject.pojo.SealInfoPic">
		select id , seal_code ,pic_compress from t_seal_info_pic where seal_code = #{seal_code}
	</select>
</mapper>